# Intel-branded Fibocom L850-GL/L860-GL (MODEM + 2 CDC-ACM + 3 CDC-NCM + SS)
#  ttyACM0 (if #0): AT port, bInterfaceSubClass=2 (modem), bInterfaceProtocol=1 (AT-commands)
#  ttyACM1 (if #2): No response to AT, bInterfaceSubClass=2 (modem), bInterfaceProtocol=0
#  ttyACM2 (if #4): AT port, bInterfaceSubClass=2 (modem), bInterfaceProtocol=0
#  if #6, if #8 and if #10: CDC NCM network interfaces
#  if #12: bInterfaceClass=255 (Vendor Specific)
ATTRS{idVendor}=="8087", ATTRS{idProduct}=="095a", ENV{.MM_USBIFNUM}=="00", SUBSYSTEM=="tty", ENV{ID_MM_PORT_TYPE_AT_PRIMARY}="1"
ATTRS{idVendor}=="8087", ATTRS{idProduct}=="095a", ENV{.MM_USBIFNUM}=="02", SUBSYSTEM=="tty", ENV{ID_MM_PORT_IGNORE}="1"
ATTRS{idVendor}=="8087", ATTRS{idProduct}=="095a", ENV{.MM_USBIFNUM}=="04", SUBSYSTEM=="tty", ENV{ID_MM_PORT_TYPE_AT_SECONDARY}="1"
# NET ports
ATTRS{idVendor}=="8087", ATTRS{idProduct}=="095a", ENV{.MM_USBIFNUM}=="06", SUBSYSTEM=="net", ENV{ID_MM_PORT_TYPE_NET}="1"
ATTRS{idVendor}=="8087", ATTRS{idProduct}=="095a", ENV{.MM_USBIFNUM}=="08", SUBSYSTEM=="net", ENV{ID_MM_PORT_TYPE}="net"
ATTRS{idVendor}=="8087", ATTRS{idProduct}=="095a", ENV{.MM_USBIFNUM}=="10", SUBSYSTEM=="net", ENV{ID_MM_PORT_TYPE}="net"

ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="8087", ATTRS{idProduct}=="095a", RUN+="/usr/bin/ip link set dev %k arp off"
